/*	Project:	Final project Testing
	Author:		Darren Huang
	Date:		5/16/23
*/

/* basic styling */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");

body {
  margin: 0;
  background-color: #404040;
}

h1 {
	font-size: 75px;
	font-family: "Montserrat";
	color: #70d5ff;
	margin-left: 10%;
	margin-bottom: -10px;
	
}

footer {
	background-color: #212529;
	color: #fff;
	font-family: "Montserrat";
	padding: 20px;
	padding-left: 50px;
}

h2 {
	color: #70d5ff;
}


/* IDs and Classes */

.layout {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  position: relative;
}

.header {
  background-color: #212529;
}

.menu-icon {
  content: "Menu";
  color: #fff;
  background-color: #404040;
  width: 80px;
  height: 80px;
  
  
}

.app-menu {
  width: 50%;
  height: 100%;
  box-shadow: none;
  background-color: #ddd;
}

.menu:after {
  width: 100%;
  height: 100%;
}

.body {
	font-size: 30px;
	font-family: "Montserrat";
	margin-left: 0%;
	margin-right: 0%;
}

.footerlink {
	color: #70d5ff;
}




@media(min-width:40em) {
.section{
	background-color: #212529;
	display: flex;
	padding: 0px;
	margin: 0px;
	align-items: center;
}
*	{
	box-sizing: border-box;
}

.column {
	display: flex;
	float: left;
	width: 50%;
	padding: 10px;
	min-height: 300px;
	color: #fff;
	flex-direction: column;
}
}



.underline {
	margin-left: 9%;
	width: 425px;
	height: 10px;
	background-color: #70d5ff;
	border-radius: 10px;
	border-color: #70d5ff;
}

.imgcontent {
	float: left;
	padding-right: 20px;
}

.bodycontent {
	margin-top: -1px;
}


/* Responsive Design */

.aspectwrapper {
  width: 100%;
  position: relative;
}
.aspectspacer {
  width: 100%; 
}


/* menu animation */

.menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 150;
}

.menu--visible {
    pointer-events: auto;
}

.app-menu {
    background: rgb(112,213,255);
	background: linear-gradient(0deg, rgba(112,213,255,1) 0%, rgba(255,255,255,1) 80%);
    position: relative;
    max-width: 400px;
    width: 90%;
    height: 100%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    -webkit-transform: translateX(-103%);
            transform: translateX(-103%);
    display: flex;
    flex-direction: column;
    will-change: transform;
    z-index: 160;
    pointer-events: auto;            
}

.menu--visible .app-menu {
    -webkit-transform: none;
            transform: none;
}

.menu--animatable .app-menu {
    transition: all 130ms ease-in;
}

.menu--visible.menu--animatable  .app-menu {
    transition: all 330ms ease-out;
}

.menu:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    opacity: 0;
    will-change: opacity;
    pointer-events: none;
    transition: opacity 0.3s cubic-bezier(0,0,0.3,1);
}

.menu--visible.menu:after {
    opacity: 1;
    pointer-events: auto;
}

/* Button Styling */

.button {
  font-size: 20px;
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(15, 117, 188, 1) 10.8%,
    rgba(37, 170, 225, 1) 94.3%
  );
  transition: all 0.475s;
}

